/* 导入 Tailwind CSS 基础样式 */
@tailwind base;
/* 导入 Tailwind CSS 组件样式 */
@tailwind components;
/* 导入 Tailwind CSS 工具样式 */
@tailwind utilities;

/* 定义基础层样式 */
@layer base {
  /* 根元素样式变量（浅色主题） */
  :root {
    /* 基础颜色 - 使用Figma颜色变量 */
    --background: var(--neutral-1); /* 背景色：白色 */
    --foreground: var(--neutral-12); /* 前景色：深灰蓝色 */
    --card: var(--neutral-1); /* 卡片背景色：白色 */
    --card-foreground: var(--neutral-12); /* 卡片前景色：深灰蓝色 */
    --popover: var(--neutral-1); /* 弹出框背景色：白色 */
    --popover-foreground: var(--neutral-12); /* 弹出框前景色：深灰蓝色 */
    --primary: var(--neutral-12); /* 主色调：深蓝黑色 */
    --primary-foreground: var(--neutral-1); /* 主色调前景色：浅灰色 */
    --secondary: var(--neutral-3); /* 次要色调：浅灰色 */
    --secondary-foreground: var(--neutral-12); /* 次要色调前景色：深灰蓝色 */
    --muted: var(--neutral-3); /* 辅助色调：浅灰色 */
    --muted-foreground: var(--neutral-11); /* 辅助色调前景色：中灰色 */
    --accent: var(--neutral-3); /* 强调色：浅灰色 */
    --accent-foreground: var(--neutral-12); /* 强调色前景色：深灰蓝色 */
    --destructive: var(--red-9); /* 破坏性颜色：红色 */
    --destructive-foreground: var(--neutral-1); /* 破坏性颜色前景色：浅灰色 */
    --border: var(--neutral-4); /* 边框颜色：浅灰色 */
    --input: var(--neutral-4); /* 输入框颜色：浅灰色 */
    --ring: var(--neutral-12); /* 环形颜色：深灰蓝色 */
    --radius: 0.5rem; /* 边框半径：0.5rem */
    --custom: var(--green-9); /* 自定义颜色：绿色 */
    --custom-foreground: var(--neutral-1); /* 自定义颜色前景色：白色 */

    /* 自定义按钮颜色 */
    --anniu-1: #202020;
    --anniu-2: #ffffff;
    
    /* Figma 颜色变量 */
    /* 中性色 */
    --neutral-1: #fdfdfd;
    --neutral-2: #f9f9f9;
    --neutral-3: #f0f0f0;
    --neutral-4: #e8e8e8;
    --neutral-5: #e1e1e1;
    --neutral-6: #d9d9d9;
    --neutral-7: #cecece;
    --neutral-8: #bbbbbb;
    --neutral-9: #8c8c8c;
    --neutral-10: #828282;
    --neutral-11: #626262;
    --neutral-12: #202020;
    
    /* 中性色透明度 */
    --neutral-opacity-1: #00000002;
    --neutral-opacity-2: #00000006;
    --neutral-opacity-3: #0000000f;
    --neutral-opacity-4: #00000017;
    --neutral-opacity-5: #0000001e;
    --neutral-opacity-6: #00000026;
    --neutral-opacity-7: #00000031;
    --neutral-opacity-8: #00000044;
    --neutral-opacity-9: #00000073;
    --neutral-opacity-10: #0000007d;
    --neutral-opacity-11: #0000009d;
    --neutral-opacity-12: #000000df;
    
    /* 主色（蓝色） */
    --primary-1: #fafdff;
    --primary-2: #f3fafe;
    --primary-3: #e0f5ff;
    --primary-4: #cdefff;
    --primary-5: #b9e6ff;
    --primary-6: #a2daf8;
    --primary-7: #84caef;
    --primary-8: #4cb3e5;
    --primary-9: #00a0d9;
    --primary-10: #0193c8;
    --primary-11: #007ab1;
    
    /* 主色透明度 */
    --primary-opacity-1: #0099ff05;
    --primary-opacity-2: #0095ea0c;
    --primary-opacity-3: #00adff1f;
    --primary-opacity-4: #00aeff32;
    --primary-opacity-5: #00a4ff46;
    --primary-opacity-6: #009aec5d;
    --primary-opacity-7: #0192de7b;
    --primary-opacity-8: #0093dab3;
    --primary-opacity-9: #00a0d9;
    --primary-opacity-10: #0093c8fe;
    --primary-opacity-11: #007ab1;
    --primary-opacity-12: #002f46f2;
    
    /* 橙色 */
    --orange-1: #fefdfb;
    --orange-2: #fff9e9;
    --orange-3: #fff0c9;
    --orange-4: #ffe6b3;
    --orange-5: #ffdb97;
    --orange-6: #ffcc74;
    --orange-7: #f5bb66;
    --orange-8: #e4a238;
    --orange-9: #ffad00;
    --orange-10: #e9a73e;
    --orange-11: #a66800;
    --orange-12: #4a381d;
    
    /* 橙色透明度 */
    --orange-opacity-1: #c0800004;
    --orange-opacity-2: #ffba0016;
    --orange-opacity-3: #ffb90036;
    --orange-opacity-4: #ffac004c;
    --orange-opacity-5: #ffa70068;
    --orange-opacity-6: #ffa2008b;
    --orange-opacity-7: #ef8e0099;
    --orange-opacity-8: #dd8800c7;
    --orange-opacity-9: #ffad00;
    --orange-opacity-10: #e28b00c1;
    --orange-opacity-11: #a66800;
    --orange-opacity-12: #331f00e2;
    
    /* 绿色 */
    --green-1: #fbfdfa;
    --green-2: #f7fbf4;
    --green-3: #e7f8db;
    --green-4: #d8f3c5;
    --green-5: #c9eaaf;
    --green-6: #b7dd99;
    --green-7: #a1cc7e;
    --green-8: #84b755;
    --green-9: #93da49;
    --green-10: #89cf3c;
    --green-11: #557d2d;
    --green-12: #2f411f;
    
    /* 绿色透明度 */
    --green-opacity-1: #33990005;
    --green-opacity-2: #46a3000b;
    --green-opacity-3: #55ce0024;
    --green-opacity-4: #54cb003a;
    --green-opacity-5: #53bd0050;
    --green-opacity-6: #4baa0066;
    --green-opacity-7: #469b0081;
    --green-opacity-8: #479300aa;
    --green-opacity-9: #68cb00b6;
    --green-opacity-10: #65c000c3;
    --green-opacity-11: #316100d2;
    --green-opacity-12: #122700e0;
    
    /* 红色 */
    --red-1: #fffcfc;
    --red-2: #fff8f7;
    --red-3: #feecea;
    --red-4: #ffddd9;
    --red-5: #ffcfcb;
    --red-6: #fbbfba;
    --red-7: #f1aba6;
    --red-8: #e8918c;
    --red-9: #eb5a5a;
    --red-10: #de4c4e;
    --red-11: #c8383d;
    --red-12: #611d1e;
    
    /* 红色透明度 */
    --red-opacity-1: #ff000003;
    --red-opacity-2: #ff200008;
    --red-opacity-3: #f3190015;
    --red-opacity-4: #ff1b0026;
    --red-opacity-5: #ff140034;
    --red-opacity-6: #f1130045;
    --red-opacity-7: #d70f0059;
    --red-opacity-8: #cc0c0073;
    --red-opacity-9: #e00000a5;
    --red-opacity-10: #d00003b3;
    --red-opacity-11: #b90007c7;
    --red-opacity-12: #4d0001e2;
  }

  /* 深色主题样式变量 */
  .dark {
    /* 基础颜色 - 使用Figma颜色变量 */
    --background: var(--neutral-1); /* 背景色：深蓝黑色 */
    --foreground: var(--neutral-12); /* 前景色：浅灰色 */
    --card: var(--neutral-1); /* 卡片背景色：深蓝黑色 */
    --card-foreground: var(--neutral-12); /* 卡片前景色：浅灰色 */
    --popover: var(--neutral-1); /* 弹出框背景色：深蓝黑色 */
    --popover-foreground: var(--neutral-12); /* 弹出框前景色：浅灰色 */
    --primary: var(--neutral-12); /* 主色调：浅灰色 */
    --primary-foreground: var(--neutral-1); /* 主色调前景色：深蓝黑色 */
    --secondary: var(--neutral-3); /* 次要色调：深灰色 */
    --secondary-foreground: var(--neutral-12); /* 次要色调前景色：浅灰色 */
    --muted: var(--neutral-3); /* 辅助色调：深灰色 */
    --muted-foreground: var(--neutral-11); /* 辅助色调前景色：中灰色 */
    --accent: var(--neutral-3); /* 强调色：深灰色 */
    --accent-foreground: var(--neutral-12); /* 强调色前景色：浅灰色 */
    --destructive: var(--red-9); /* 破坏性颜色：深红色 */
    --destructive-foreground: var(--neutral-1); /* 破坏性颜色前景色：浅灰色 */
    --border: var(--neutral-4); /* 边框颜色：深灰色 */
    --input: var(--neutral-4); /* 输入框颜色：深灰色 */
    --ring: var(--neutral-12); /* 环形颜色：浅蓝灰色 */
    --custom: var(--green-9); /* 深色主题自定义颜色：浅绿色 */
    --custom-foreground: var(--neutral-1); /* 深色主题自定义颜色前景色：深绿色 */

        /* 自定义按钮颜色 */
    --anniu-1: #222222;
    --anniu-2: #ffffff;
    
    /* Figma 深色主题颜色变量 */
    /* 中性色 */
    --neutral-1: #111111;
    --neutral-2: #191919;
    --neutral-3: #222222;
    --neutral-4: #2a2a2a;
    --neutral-5: #313131;
    --neutral-6: #3a3a3a;
    --neutral-7: #484848;
    --neutral-8: #606060;
    --neutral-9: #6e6e6e;
    --neutral-10: #7b7b7b;
    --neutral-11: #b4b4b4;
    --neutral-12: #eeeeee;
    
    /* 中性色透明度 */
    --neutral-opacity-1: #ffffff02;
    --neutral-opacity-2: #ffffff09;
    --neutral-opacity-3: #ffffff12;
    --neutral-opacity-4: #ffffff1b;
    --neutral-opacity-5: #ffffff22;
    --neutral-opacity-6: #ffffff2c;
    --neutral-opacity-7: #ffffff3b;
    --neutral-opacity-8: #ffffff55;
    --neutral-opacity-9: #ffffff64;
    --neutral-opacity-10: #ffffff72;
    --neutral-opacity-11: #ffffffaf;
    --neutral-opacity-12: #ffffffed;
    
    /* 主色（蓝色） */
    --primary-1: #081318;
    --primary-2: #0f1a21;
    --primary-3: #072b3b;
    --primary-4: #003750;
    --primary-5: #004460;
    --primary-6: #055271;
    --primary-7: #146587;
    --primary-8: #187ca7;
    --primary-9: #00a0d9;
    --primary-10: #0094cc;
    --primary-11: #5ec5f8;
    
    /* 主色透明度 */
    --primary-opacity-1: #0051f108;
    --primary-opacity-2: #0091f412;
    --primary-opacity-3: #00a5ff2d;
    --primary-opacity-4: #00a0fe44;
    --primary-opacity-5: #00aaff55;
    --primary-opacity-6: #00b2ff67;
    --primary-opacity-7: #17b9fd68;
    --primary-opacity-8: #1dbbffa1;
    --primary-opacity-9: #00bafed7;
    --primary-opacity-10: #00b7fec9;
    --primary-opacity-11: #61cbfff8;
    --primary-opacity-12: #bce8ff;
    
    /* 橙色 */
    --orange-1: #14100b;
    --orange-2: #1d170f;
    --orange-3: #2f2009;
    --orange-4: #412600;
    --orange-5: #4f2f00;
    --orange-6: #5c3d05;
    --orange-7: #714f18;
    --orange-8: #8f6520;
    --orange-9: #ffad00;
    --orange-10: #f4a200;
    --orange-11: #ffbb39;
    --orange-12: #ffe3ba;
    
    /* 橙色透明度 */
    --orange-opacity-1: #d1000004;
    --orange-opacity-2: #fd87000d;
    --orange-opacity-3: #f9850021;
    --orange-opacity-4: #fc780034;
    --orange-opacity-5: #fd830043;
    --orange-opacity-6: #fd9b0051;
    --orange-opacity-7: #ffab2367;
    --orange-opacity-8: #ffb02e87;
    --orange-opacity-9: #ffad00;
    --orange-opacity-10: #fea800f4;
    --orange-opacity-11: #ffbb39;
    --orange-opacity-12: #ffe3ba;
    
    /* 绿色 */
    --green-1: #0e130b;
    --green-2: #151a10;
    --green-3: #1f2916;
    --green-4: #273818;
    --green-5: #30461d;
    --green-6: #3a5422;
    --green-7: #456428;
    --green-8: #51772d;
    --green-9: #93da49;
    --green-10: #89cf3c;
    --green-11: #9dde5e;
    --green-12: #d2f6b5;
    
    /* 绿色透明度 */
    --green-opacity-1: #00bb0003;
    --green-opacity-2: #78f7000a;
    --green-opacity-3: #9bfd431a;
    --green-opacity-4: #97fe3c2a;
    --green-opacity-5: #9cff4739;
    --green-opacity-6: #a3ff4e48;
    --green-opacity-7: #a6ff5359;
    --green-opacity-8: #a5fd526e;
    --green-opacity-9: #aafe53d8;
    --green-opacity-10: #a7ff47cc;
    --green-opacity-11: #a7ff47dc;
    --green-opacity-12: #d9febbf6;
    
    /* 红色 */
    --red-1: #170f0e;
    --red-2: #201312;
    --red-3: #3b1212;
    --red-4: #510e12;
    --red-5: #621619;
    --red-6: #742324;
    --red-7: #8d3333;
    --red-8: #b64444;
    --red-9: #eb5a5a;
    --red-10: #dd4d4e;
    --red-11: #ff8f8a;
    --red-12: #ffd2ce;
    
    /* 红色透明度 */
    --red-opacity-1: #ec000007;
    --red-opacity-2: #f22f2011;
    --red-opacity-3: #ff17172d;
    --red-opacity-4: #fe061545;
    --red-opacity-5: #ff202957;
    --red-opacity-6: #fd3c3f6b;
    --red-opacity-7: #ff535385;
    --red-opacity-8: #ff5b5bb1;
    --red-opacity-9: #ff6161ea;
    --red-opacity-10: #ff5759db;
    --red-opacity-11: #ff8f8a;
    --red-opacity-12: #ffd2ce;
  }
}

/* 定义基础元素样式 */
@layer base {
  /* 全局样式：为所有元素添加边框颜色 */
  * {
    @apply border-border;

    /* transition: all 0.2s ease; */

    /* .btn, .card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  } */


  }
  /* 车身样式：设置背景色和文本颜色 */
  body {
    @apply bg-background text-foreground;
  }
}



/* 定义可复用组件样式 */
@layer components {
    /* 页面标题样式 */
  .page-title {
  font-size: 22px;
  font-weight: 700;
  color:var(--neutral-12);
  margin: 0;
  line-height: 24px;
  letter-spacing: 0;
  }

  /* 文件上传说明样式模板 */
  .file-upload-instructions {
    @apply mt-5 p-4 bg-primary-2 border border-primary-6 rounded-md text-sm text-neutral-11;
  }

  .instructions-header {
    @apply flex items-center gap-2 mb-2;
  }

  .instructions-header .instructions-icon {
    @apply text-primary-9 text-base flex items-center justify-center;
  }

  .instructions-header h4 {
    @apply leading-tight m-0 text-base font-semibold text-neutral-12;
  }

  .instructions-content {
    @apply flex flex-col gap-0;
  }

  .instructions-item {
    @apply flex items-center gap-2.5 py-1;
  }

  .instructions-item svg {
    @apply text-sm text-primary-9 flex-shrink-0 w-4 h-4;
  }

  .instructions-item span {
    @apply leading-tight;
  }
}

/* 保留原有的自定义样式 */
/* 全局 HTML 和 body 样式 */
html, body {
  height: 100%; /* 高度占满整个视口 */
  overflow-x: hidden; /* 隐藏水平滚动条 */
  /* 字体族：系统字体优先，确保跨平台一致性 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6; /* 行高：1.6 */
  -webkit-font-smoothing: antialiased; /* 平滑字体渲染（WebKit） */
  -moz-osx-font-smoothing: grayscale; /* 平滑字体渲染（Firefox） */
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px; /* 滚动条宽度 */
  height: 6px; /* 滚动条高度 */
}

/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: var(--neutral-1); /* 轨道背景色：浅灰色 */
  border-radius: 3px; /* 轨道边框半径：3px */
}

/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: var(--neutral-6); /* 滑块背景色：中灰色 */
  border-radius: 3px; /* 滑块边框半径：3px */
}

/* 滚动条滑块悬停样式 */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-9); /* 悬停时滑块背景色：深灰色 */
}

/* 链接样式 */
a {
  color: hsl(var(--primary)); /* 链接颜色：主色调 */
  text-decoration: none; /* 去除下划线 */
  transition: color 0.3s ease; /* 颜色过渡效果：0.3秒，ease 缓动 */
}

/* 链接悬停样式 */
a:hover {
  opacity: 0.8; /* 悬停时链接透明度：0.8 */
}

/* 表单元素样式 */
input, textarea, select {
  font-family: inherit; /* 继承父元素字体 */
  font-size: inherit; /* 继承父元素字体大小 */
  line-height: inherit; /* 继承父元素行高 */
}

/* 表单元素焦点样式 */
input:focus, textarea:focus, select:focus {
  outline: none; /* 去除默认焦点轮廓 */
}

/* 容器样式 */
.container {
  max-width: 1200px; /* 最大宽度：1200px */
  margin: 0 auto; /* 水平居中 */
  padding: 0 24px; /* 内边距：0 24px */
}

/* 流体容器样式 */
.container-fluid {
  width: 100%; /* 宽度：100% */
  padding: 0 24px; /* 内边距：0 24px */
}

/* 响应式断点 - 大屏设备（小于 1200px） */
@media (max-width: 1200px) {
  .container {
    max-width: 992px; /* 最大宽度：992px */
  }
}

/* 响应式断点 - 中屏设备（小于 992px） */
@media (max-width: 992px) {
  .container {
    max-width: 768px; /* 最大宽度：768px */
    padding: 0 20px; /* 内边距：0 20px */
  }
}

/* 响应式断点 - 小屏设备（小于 768px） */
@media (max-width: 768px) {
  .container {
    max-width: 576px; /* 最大宽度：576px */
    padding: 0 16px; /* 内边距：0 16px */
  }
}

/* 响应式断点 - 超小屏设备（小于 576px） */
@media (max-width: 576px) {
  .container {
    max-width: 100%; /* 最大宽度：100% */
    padding: 0 12px; /* 内边距：0 12px */
  }
}

/* 打印样式 */
@media print {
  /* 打印时隐藏带有 .no-print 类的元素 */
  .no-print {
    display: none !important;
  }
}